@import '../styles/styles';

.SideBar {
  position: relative;
  width: 40px;
  height: 100%;
  background: $bgColorSecondary;
  color: $textColorDark;
  transition: width ease-in-out 300ms;

  &--expanded {
    width: 150px;
    transition: width ease-in-out 300ms;
  }

  .sideBarTop {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: $textColorMain;

    .sideBarExpandButton {
      width: 40px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      .sideBarExpandButtonIcon {
        color: $textColorSecondary;
      }
    }
  }
}
